VITE_GOOGLE_CLIENT_ID=969439935196-2i0v6069g4sklp1nb8n5mcs4ate7j4c0.apps.googleusercontent.com
VITE_RAZORPAY_KEY_ID=
VITE_APP_NAME=Modern Selfdrive
VITE_API_URL=https://car-rental-modern.onrender.com/api
VITE_SOCKET_URL=https://car-rental-modern.onrender.com
